

.form{
    background-color: rgb(251, 202, 202);
    padding: 2rem;
    border: 1px solid red;
}
.rDesign{
    min-height: 7vh;
    border: 1px solid rgb(239, 83, 239);
}


.grid{

    background-color: rgb(196, 241, 205);


}
.columns{
    min-height: 15vh;
    background-color: rgb(244, 217, 250);
}

.gutter{

    min-height: 14vh;
    background-color: rgb(236, 179, 248);



}